# For Streamlit Community Cloud: paste these values into the Secrets UI
OPENAI_API_KEY = ""
PINECONE_API_KEY = ""
PINECONE_ENV = ""

DB_HOST = "localhost"
DB_USER = "root"
DB_PASSWORD = ""
DB_NAME = ""

DEMO_MODE = "true"
